body {
    min-height: 100vh;
    min-width: 100vw; 
    margin: 0;
    display: grid; 
    grid-row: 20% auto 10%;
}

.wrapper{
    background-color: white; 
}

header{
    background-color: red;
    grid-row: span 1; 
    //*height: 100%;

}